@font-face {
    font-family: organetto-bold;
    src: url(../fonts/organetto-extbold.otf);
}

@font-face {
    font-family: organetto-thin;
    src: url(../fonts/organetto-extthin.otf);
}

@font-face {
    font-family: hero-regular;
    src: url(../fonts/Hero-Regular.otf);
}

@font-face {
    font-family: hero-light;
    src: url(../fonts/Hero-Light.otf);
}

body {
    font-family: 'Rubik', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

.main-wrapper {
    .main-content {
        min-height: 100vh;
        background-image: url(../images/main-bg.jpg);
        background-position: center;
        background-size: cover;
        position: relative;

        .social-bottom {
            display: none;
            text-align: center;
        }

        .side-text {
            position: absolute;
            top: calc(50%);
            right: 20px;
            writing-mode: vertical-lr;
            text-orientation: mixed;

            p {
                font-size: 14px;
                margin: 0;
            }
        }

        .mouse-arrow {
            width: 50px;
            max-height: 75px;
            border: 3px solid #b1a8c0;
            border-radius: 22px;
            cursor: pointer;
            color: #fff;
            padding: 10px 0 35px;
            margin: 0 auto 50px;
            position: relative;
            display: none;

            .mouse-dots {
                writing-mode: tb-rl;
                font-size: 30px;
                line-height: 17px;
                letter-spacing: -2px;
                color: #b1a8c0;
                position: absolute;
                left: 50%;
            }

            .arrow {
                font-weight: 700;
                color: #a1b40b;
                font-size: 26px;
                line-height: 1.5;
                // margin-inline-start: -2px;
                animation: 1.5s scroll cubic-bezier(0.65, 0, 0.25, 1.5) infinite;
                top: 10px;
                position: relative;
                display: flex;
                justify-content: center;
            }
        }

        .logo-area {
            text-align: center;
            padding: 50px 0 20px;

            .logo {
                max-width: 100%;
                width: 450px;
                margin-bottom: 10px;
            }

            .main-title {
                color: #fff;
                font-size: 20px;
                font-weight: 500;
                font-family: "hero-light";
            }
        }

        .middle-area {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .services {
                .services-title {
                    h2 {
                        position: relative;
                        z-index: 1;
                        font-size: 30px;
                        text-transform: uppercase;
                        font-family: "organetto-bold";

                        span {
                            display: block;
                            width: 100%;

                            &:nth-child(1) {
                                -webkit-text-stroke: 1px rgba(255, 255, 255, .3);
                                -webkit-text-fill-color: transparent;
                                position: absolute;
                                top: -10px;
                                left: 0;
                                z-index: -1;
                            }

                            &:nth-child(2) {
                                -webkit-text-stroke: 1px rgba(255, 255, 255, .1);
                                -webkit-text-fill-color: transparent;
                                position: absolute;
                                top: -25px;
                                left: 0;
                                z-index: -1;
                            }
                        }
                    }
                }

                .services-list {
                    margin-bottom: 65px;

                    ul {
                        list-style: none;
                        padding: 0;
                        font-family: "hero-light";

                        li {
                            margin-bottom: 5px;
                            font-size: 16px;
                        }
                    }
                }

                .reach-out {
                    .reach-title {
                        h2 {
                            position: relative;
                            z-index: 1;
                            font-size: 30px;
                            text-transform: uppercase;
                            font-family: "organetto-bold";
                            margin-bottom: 0;

                            span {
                                display: block;
                                width: 100%;

                                &:nth-child(1) {
                                    -webkit-text-stroke: 1px rgba(255, 255, 255, .3);
                                    -webkit-text-fill-color: transparent;
                                    position: absolute;
                                    top: -10px;
                                    left: 0;
                                    z-index: -1;
                                }

                                &:nth-child(2) {
                                    -webkit-text-stroke: 1px rgba(255, 255, 255, .1);
                                    -webkit-text-fill-color: transparent;
                                    position: absolute;
                                    top: -25px;
                                    left: 0;
                                    z-index: -1;
                                }
                            }
                        }

                        p {
                            font-family: "organetto-thin";
                            letter-spacing: 2.5px;
                            color: #a1b40b;
                        }
                    }

                    .reach-info {
                        ul {
                            list-style: none;
                            padding: 0;
                            font-family: "hero-light";

                            li {
                                margin-bottom: 5px;
                                font-size: 16px;
                            }

                            a {
                                color: #fff;
                            }
                        }
                    }

                    .social {
                        a {
                            display: inline-block;
                            margin-inline-end: 15px;

                            &:last-child {
                                margin-inline-end: 0;
                            }
                        }
                    }
                }
            }

            .middle-image {
                img {
                    animation: up_down 4s infinite alternate;
                }
            }

            .companies {
                .companies-title {
                    margin-bottom: 25px;
                    text-align: center;

                    h2 {
                        text-transform: uppercase;
                        font-family: "organetto-bold";
                        line-height: 1;
                        letter-spacing: 3px;
                    }
                }

                .companies-logos {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(4, 1fr);
                    align-items: center;
                    margin-bottom: 40px;

                    .image {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                    }

                    img {
                        max-width: 55px;
                        height: 75px;
                        object-fit: contain;
                        -o-object-fit: contain;
                    }
                }

                .affiliates {
                    .affiliates-title {
                        text-align: center;

                        h2 {
                            font-size: 28px;
                            text-transform: uppercase;
                            font-family: "organetto-bold";
                        }
                    }

                    .affiliates-logos {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        img {
                            max-width: 150px;
                            display: inline-block;
                            margin-inline-end: 20px;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}

///loading page
.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    background: #fff;

    .page-load-inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .preloader-wrap {
        display: table;
        width: 100%;
        height: 100%;
    }

    .wrap-2 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        background-image: url(../images/main-bg.jpg);
        background-position: center;
        background-size: cover;
    }

    .main {
        width: 200px;
        height: 200px;
        border: 4px solid #fff;
        position: relative;
        margin: auto;
        border-radius: 50%;

        .circle {
            width: 30px;
            height: 30px;
            background: #dbf60d;
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            margin: auto;
            animation: circle 6s linear infinite;
        }
    }
}

@keyframes circle {
    0% {
        transform: rotate(0deg)translate(-115px)rotate(0deg)
    }

    100% {
        transform: rotate(360deg)translate(-115px)rotate(-360deg)
    }
}

@-webkit-keyframes up_down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes up_down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0.5);
    }

    10% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(30px) scale(0.5);
    }
}

@media screen and (max-width: 991px) {
    .main-wrapper {
        .main-content {
            .middle-area {
                .middle-image {
                    order: -1;
                }
            }

            .middle-area {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .main-wrapper {
        .main-content {
            .social-bottom {
                display: block;
                padding-top: 50px;

                a {
                    display: inline-block;
                    margin-inline-end: 15px;

                    &:last-child {
                        margin-inline-end: 0;
                    }
                }
            }

            .social {
                display: none;
            }

            .side-text {
                position: static;
                writing-mode: unset;
                text-orientation: unset;
                text-align: center;
                padding: 15px 0 30px;
            }

            .middle-area {
                grid-template-columns: repeat(1, 1fr);

                .services {
                    margin-bottom: 50px;
                    text-align: center;

                    .services-list {
                        ul {
                            li {
                                margin-bottom: 15px;
                            }
                        }
                    }

                    .services-content {
                        padding: 50px 0 150px;

                    }
                }

                .companies {
                    .companies-logos {
                        img {
                            width: 45px;
                        }
                    }
                }
            }

            .mouse-arrow {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 340px) {
    .main-wrapper {
        .main-content {
            .middle-area {
                .services {
                    .services-title {
                        h2 {
                            font-size: 8vw;
                        }
                    }
                }

                .companies {
                    .affiliates {
                        .affiliates-logos {
                            img {
                                margin-inline-end: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}